.container-fluid-login {
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, #00b9d1 0%, #00436e 100%);
}
.newUSer{
    font-weight: 500;
    color: #ffffff;
    width: inherit;
    display: inline;
}
.form-group{
    width: 350px;
}
.false.inline_label{
    display: none;
}
.inputs{
    display: inherit!important;
}
.alertClass{
    width: 350px;
    border-radius: 4px;
    margin-top: 1px;
    display: inline-block;
}
.inline_label {
    opacity: 0.74;
    font-size: 13px;
    color: #444444;
    display: table;
    font-weight: 800;
}
.fade {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    50%{
        opacity: 1;
    }
    to{
        opacity:0;
    }
}
/*.preloader {*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*z-index: 999;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: visible;*/
    /*background: rgba(255, 255, 255, .6) url('../../assets/spinner.svg') no-repeat center center;*/
    /*background-size: 4%;*/
/*}*/
.email-image::before{
    content: url('../../assets/email.png');
    position: relative;
    top: 3px;
    padding-right: 10px;
}

.password-image::before{
    content: url('../../assets/password.png');
    position: relative;
    top: 3px;
    padding-right: 10px;
}
.errorMsg{
    color: #8b818b;

}
input[type=password]:focus, input[type=email]:focus {
    box-shadow: 0 0 5px rgb(145, 244, 233);

    border: 1px solid rgb(145, 244, 233);
}
.login_btn {
    border-radius: 6px;
    background-color: #11bbf4;
    border: solid 1px #1899dd;
    color: #fff;
    font-size: 20px !important;
    font-weight: bold !important;
    margin-top: 2rem;
    height: 44px;
    width: 350px;
    display: inherit!important;

}

.login-wrapper input {
    height: 44px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    width: 350px;
    border-radius:5px;

}

.login-wrapper {
    justify-content: center;
    height: 100%;
    align-items: center;
}

